<!DOCTYPE html>
<html lang="en"> 
  <head>
    <meta charset="utf-8" />
    <title>Ian Duncan - $title$</title>
    <link rel="stylesheet" href="/css/default.css" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,700,700italic' rel='stylesheet'>
  </head>
  <body>
    <div id="header">
      <div id="logo">
        <a href="/">Ian Duncan</a>
      </div>
      <div id="navigation">
        <a href="/about.html">About</a>
        <a href="/contact.html">Contact</a>
        <a href="/archive.html">Archive</a>
      </div>
    </div>
    
    <div id="content">
      $body$
    </div>
    <div id="footer">
      <a href="mailto:ian@iankduncan.com">
        <i class="icon-mail" />
      </a>
      <a href="https://twitter.com/iand675">
	<i class="icon-twitter" />
      </a>
      <a href="https://github.com/iand675">
	<i class="icon-github" />
      </a>
      <a href="/atom.xml">
        <i class="icon-feed" />
      </a>
    </div>
  </body>
</html>
