<!DOCTYPE html>
<html lang="en"> 
  <head>
    <meta charset="utf-8" />
    <title>Ian Duncan - $title$</title>
    <link rel="stylesheet" href="/css/default.css" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,700,700italic' rel='stylesheet'>
    <link href='http://nicholastodor.com/sf/usesf.css' rel='stylesheet'>
  </head>
  <body>
    <div class="header-wrapper">
      <div id="header">
        <div id="logo">
          <a href="/">Ian Duncan</a>
        </div>
        <div id="navigation">
          <a href="/about.html">About</a>
          <a href="/contact.html">Contact</a>
          <a href="/archive.html">Archive</a>
          <a href="/notes.html">Notes</a>
        </div>
      </div>
    </div>
    
    <div id="content">
      $body$
    </div>
    <div id="footer">
      <a href="mailto:ian@iankduncan.com">
        <i class="icon-mail" />
      </a>
      <a href="https://twitter.com/iand675">
	<i class="icon-twitter" />
      </a>
      <a href="https://github.com/iand675">
	<i class="icon-github" />
      </a>
      <a href="/atom.xml">
        <i class="icon-feed" />
      </a>
    </div>
    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-57798610-1', 'auto');
ga('send', 'pageview');
    </script>
  </body>
</html>
